:root{
    --main-color: rgb(25, 155, 114);
    --header-bg-color: rgb(241, 241, 241);
    --teal-grey: rgb(47, 71, 72);
    --body-bg-color: rgb(234, 234, 234);
    ---transparent-bg-color: rgba(0, 0, 0, 0.035);
    --logo-transition: transform 1s ease-in-out, opacity 1s ease-in-out;
    --header-link-transition: transform 0.3s ease-in-out, color 0.3s ease-in-out;
    /* box shadow: horizontal-offset vertical-offset blur-radius spread-radius color
    */
    --box-shadow: 0px 0px 43px -3px rgba(0,0,0,0.1);

}

@font-face {
    font-family: 'EBGaramond';
    src: url('../fonts/EBGaramond-Regular.ttf');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Montserrat';
    src: url('../fonts/Montserrat-Regular.ttf');
    font-weight: normal;
    font-style: normal;
}

html{
    font-size: 14px;
}

*{
    margin: 0;
}

body{
    background-color: var(--body-bg-color);
    font-family: 'Montserrat';
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100vw;
}

main{
    margin-top: 50px;
    width: 100vw;
    padding-bottom: 100px;
}

footer{
    display: flex;
    align-items: center;
    justify-content: center;
    bottom: 0;
    height: 10vh;
    width: 100vw;
    background-color: var(--teal-grey);
}

footer span{
    color: white;
    font-size: 2rem;
}

a:hover{
    transform: scale(1.05);
}

.animated-logo{
    transition: var(--logo-transition);
    opacity: 0.9;
}

.animated-logo:hover{
    transform: scale(1.05);
    opacity: 1;
}

/* Tablets e Ipads (retrato) */
@media (min-width: 768px) and (max-width: 1024px) {
    html{
        font-size: 12px;
    }
}

/* Smartphones (retrato) */
@media (min-width: 0) and (max-width: 768px) {
    html{
        font-size: 12px;
    }
    body{
        align-items: start;
        justify-content: left;
        min-width: 700px;
    }
}