#all-products-container{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    gap: 2rem;
}

.product-card{
    background-color: rgb(255, 255, 255);
    box-shadow: var(--box-shadow);
    margin-top: 50px;
    border-radius: 10px;
    height: 440px;
    width: 400px;
    display: flex;
    gap: 1rem;
    align-items: center;
    justify-content: center;
    text-align: center;
    flex-direction: column;
    padding: 5px;
}

.product-name{
    font-size: 1.5rem;
}

.product-price{
    font-size: 1.2rem;
}

.product-image{
    width: 200px;
    height: 200px;
}

.product-action-btn{
    font-size: 2rem;
    background-color: white;
    border-radius: 15px;
    border: 2px solid rgb(193, 193, 193);
    padding: 10px;
    transition: transform 0.2s ease-in-out;
}

.product-action-btn i{
    color: rgb(134, 143, 144);
}

.product-action-btn:hover{
    cursor: pointer;
    transform: scale(1.05);
}