@import url('base.css');

header{
    background-color: var(--header-bg-color);
    box-shadow: var(--box-shadow);
    align-items: center;
    justify-content: center;
    display: flex;
    width: 100%;
    gap: 2rem;
    padding-top: 1rem;
    padding-bottom: 1rem;
}

header nav{
    display: flex;
    gap: 2rem;
    padding: 15px;
    border-radius: 5px;
}

header nav a{
    color: rgb(114, 147, 152);
    font-size: 2rem;
    padding: 10px;
    border-radius: 5px;
    text-decoration: none;
    font-weight: bold;
    transition: var(--header-link-transition);
}

header nav a:hover{
    color: rgb(86, 111, 115);
}

.header-logo{
    width: 120px;
    height: 120px;
}

/* Tablets e Ipads (retrato) */
@media (min-width: 768px) and (max-width: 1024px) {
    .header-logo{
        width: 100px;
        height: 100px;
    }
    header nav{
        min-width: 440px;
        max-width: 440px;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
        gap: 2rem;
    }
}

/* Smartphones (retrato) */
@media (min-width: 0) and (max-width: 768px) {
    header{
        padding-left: 1rem;
        align-items: center;
        justify-content: left;
    }
    .header-logo{
        width: 90px;
        height: 90px;
    }
    header nav{
        min-width: 340px;
        max-width: 340px;
        flex-direction: column;
        gap: 2rem;
    }
    header nav a{
        font-size: 1.5rem;
    }
}